.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
	margin-bottom: 6.8rem;
	line-height: 1.6;
}

.header-title {
	font-size: 4.2rem;
	font-weight: 700;
	color: #112A46;
}

.header-date {
	font-size: 2.4rem;
	font-weight: 500;
	color: #112A46;
}

.header-description {
	font-size: 1.8rem;
	font-style: italic;
	color: #555;
	margin-bottom: 2.2rem;
}

@media screen and (max-width: 37.5em) {
	.header-container {
		flex-direction: column;
		align-items: flex-start;
		gap: 3.6rem;
	}
}